In [2]:
import pandas as pd

In [39]:
pf =  pd.read_csv("../Dataset/dirtyData/0010762-251025141854904.csv", sep= "\t", usecols=[ "stateProvince", "decimalLatitude", "decimalLongitude", "year", "month"])

In [96]:
pd.set_option("display.max_columns", 50)
pd.set_option("display.max_rows", 100)

new_pf = pf[pf["stateProvince"] == "Pennsylvania"]

In [97]:
new_pf

      stateProvince  decimalLatitude  decimalLongitude  month    year
56     Pennsylvania        40.809509        -80.201728    6.0  2014.0
80     Pennsylvania        39.991847        -77.122954    4.0  2014.0
82     Pennsylvania        39.884759        -75.263715    3.0  2014.0
113    Pennsylvania        39.848099        -77.075302    5.0  1988.0
116    Pennsylvania        40.205002        -76.392197    NaN     NaN
...             ...              ...               ...    ...     ...
40291  Pennsylvania              NaN               NaN    8.0  1946.0
40293  Pennsylvania              NaN               NaN    8.0  1965.0
40294  Pennsylvania              NaN               NaN    8.0  1965.0
40415  Pennsylvania        39.994763        -76.001546    8.0  2014.0
40418  Pennsylvania        40.411170        -78.777521    7.0  2014.0

[3173 rows x 5 columns]

In [98]:
cleaned_pf

       decimalLatitude  decimalLongitude  month  year
56                40.8             -80.2      6  2014
80                40.0             -77.1      4  2014
82                39.9             -75.3      3  2014
113               39.8             -77.1      5  1988
120               40.0             -76.4     10  1979
...                ...               ...    ...   ...
40213             41.6             -80.2      8  1940
40255             41.4             -80.1      5  2015
40281             40.2             -75.0      7  2009
40415             40.0             -76.0      8  2014
40418             40.4             -78.8      7  2014

[2822 rows x 4 columns]

In [99]:
cleaned_pf = new_pf.dropna()[["decimalLatitude", "decimalLongitude", "month", "year"]]

In [100]:
cleaned_pf

       decimalLatitude  decimalLongitude  month    year
56           40.809509        -80.201728    6.0  2014.0
80           39.991847        -77.122954    4.0  2014.0
82           39.884759        -75.263715    3.0  2014.0
113          39.848099        -77.075302    5.0  1988.0
120          40.043098        -76.420799   10.0  1979.0
...                ...               ...    ...     ...
40213        41.641390        -80.151670    8.0  1940.0
40255        41.364257        -80.097468    5.0  2015.0
40281        40.183929        -74.954672    7.0  2009.0
40415        39.994763        -76.001546    8.0  2014.0
40418        40.411170        -78.777521    7.0  2014.0

[2822 rows x 4 columns]

In [101]:

cleaned_pf["decimalLatitude"] = cleaned_pf["decimalLatitude"].round(1)
cleaned_pf["decimalLongitude"] =  cleaned_pf["decimalLongitude"].round(1)



cleaned_pf

       decimalLatitude  decimalLongitude  month    year
56                40.8             -80.2    6.0  2014.0
80                40.0             -77.1    4.0  2014.0
82                39.9             -75.3    3.0  2014.0
113               39.8             -77.1    5.0  1988.0
120               40.0             -76.4   10.0  1979.0
...                ...               ...    ...     ...
40213             41.6             -80.2    8.0  1940.0
40255             41.4             -80.1    5.0  2015.0
40281             40.2             -75.0    7.0  2009.0
40415             40.0             -76.0    8.0  2014.0
40418             40.4             -78.8    7.0  2014.0

[2822 rows x 4 columns]

In [102]:
cleaned_pf["month"] = cleaned_pf["month"].round(0).astype(int)
cleaned_pf["year"] = cleaned_pf["year"].round(0).astype(int)

In [103]:
cleaned_pf

       decimalLatitude  decimalLongitude  month  year
56                40.8             -80.2      6  2014
80                40.0             -77.1      4  2014
82                39.9             -75.3      3  2014
113               39.8             -77.1      5  1988
120               40.0             -76.4     10  1979
...                ...               ...    ...   ...
40213             41.6             -80.2      8  1940
40255             41.4             -80.1      5  2015
40281             40.2             -75.0      7  2009
40415             40.0             -76.0      8  2014
40418             40.4             -78.8      7  2014

[2822 rows x 4 columns]

In [108]:
grouped_counts = cleaned_pf.groupby(['decimalLatitude', 'decimalLongitude', 'year', 'month']).size().reset_index(name='count')

In [109]:
grouped_counts

      decimalLatitude  decimalLongitude  year  month  count
0                 0.0               0.0  1938      9      1
1                39.6             -77.3  2025      4      1
2                39.7             -79.4  2025      6      1
3                39.7             -77.6  2024      2      1
4                39.7             -77.3  2021      4      1
...               ...               ...   ...    ...    ...
2070             42.2             -80.1  2016      7      1
2071             42.2             -80.0  2022      6      1
2072             42.2             -80.0  2025      7      1
2073             42.2             -80.0  2025     10      1
2074             42.2             -79.9  2018      9      1

[2075 rows x 5 columns]